<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <meta name="referrer" content="no-referrer">
    <style>
      body {
          width: 450px;
          height: 460px;
          background: url("https://lh3.googleusercontent.com/nR4vprYaWxUIIZP7ZhIQOBuZgClfG2BgTSY2-DH_Pe5eD08wcnTnL62YNBIQDTbwc7zhvDaggKZYogn2rjjQ3DIOuHDwGV2G-m9SXsQIGmJNDg-oac55RolgOyq_RpQTIvmjer9hdsqfsHrJaExlmE2gC2twFDqJJslrMQ9eiwgA3Qn0bWNOnZyx0mOTFwZl9OUAe2zWIE25hLuL4Lo4BN304_-SAEcbZHI_PTK9OBjWvds3MPlhOYbito6Nf6_T2tmwQ7l58-KC_npSx-GwWw02DE89pTQ2Hdm8GE-uJNeGqzT9Y3stEsNpsP3p-Rbi_VVaziIV5N6w0kSa6EULsmRWDTzpn8RDIt7jNvCq2U2hFRcHsscFPWFZ2LFR464IDS4sbjkamVlAsrgJcdJGwUI4UxKvUaggaQ60a5rU_xDZ8kjN75KtZKv4pAnF3UvRUOFc0T9YMmdvpDzZc6DqENPNmID5Yiez9WRxXdHyZe-ErUP6pGT0d_3UTKefiMNE-ekyCLkGL5lKJauV8gHgc6Hy5qxzRHf5bKvnXMZmgHllLd80G_T5Maaiea68E449U3ZAeDSvLq07xAcylr7Vw1sZvipa3a3lltByl3Qbl01xsn_4nSpR60msVsbB7yYKOHmLCc0u7icqvKQMMnxljsLg8BEArRk2JGj3esHdayWj_3zXwdSqYu56p8VQKnqGguvoiEerMqIs10G3uwel2ys=w605-h480-no?authuser=0") !important;
          background-repeat: no-repeat !important;
          background-size: 120% 120%;
          font-family: Roboto;
          font-size: 26px;
          border: 10px;
          border-style: solid;
          border-color: blue;
          border-radius: 10px;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }
  
        #team-info {
          border-radius: 8px 30px;
          width: 435px;
          height: 370px;
          margin-left: 10px;
        }
  
        #team-logo {
          background: #505050d0;
          border-radius: 20px;
          width: 60px;
          height: 60px;
          padding: 10px;
          margin-left: 10px;
          float: left;
        }
        
       .player-icon {
          background: #505050d0;
          border-radius: 20px;
          width: 30px;
          height: 30px;
          margin-left: 10px;
          float: left;
        }
  
        #division-logo {
          background: #505050b9;
          border-radius: 30px;
          width: 55px;
          height: 55px;
          padding: 9px;
          margin-left: 5px;
          float: right;
          padding-top: 10px;
          padding-right: 10px;
        }
  
        .inline {
          display: inline-flex;
        }
    </style>
  </head>
   
  <body {{{background}}}>
    <img src={{logoSource}} id="team-logo">
    <img src={{divisionLogo}} id="division-logo">
    <div id="team-info" {{{panel}}} class="inline">
        <h style="padding-top: 5px;">
        &nbsp;&nbsp;Team: {{teamName}}<br>
        {{#if ladder}}
        &nbsp;&nbsp;MMR: {{mmr}}<br>
        {{else}}
        &nbsp;&nbsp;Overall Score: {{score}}<br>
        &nbsp;&nbsp;Change This Cycle: {{cycleScorePM}}<br>
        {{/if}}
        &nbsp;&nbsp;W/L: {{teamWL}}<br>
        &nbsp;&nbsp;Division: {{division}}<br>
        &nbsp;&nbsp;Currently Recruiting: {{recruiting}}<br>
        {{#each players}}
        <img src=https://www.vrmasterleague.com{{this.userLogo}} class="player-icon">
        &nbsp;&nbsp;{{this.playerName}} - {{this.role}}<br>
        {{/each}}
        </h>

    </div>
  </body>