<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <meta name="referrer" content="no-referrer">
  <style>
  body {
    width: 587px;
    height: 460px;
    background: url("https://lh3.googleusercontent.com/nR4vprYaWxUIIZP7ZhIQOBuZgClfG2BgTSY2-DH_Pe5eD08wcnTnL62YNBIQDTbwc7zhvDaggKZYogn2rjjQ3DIOuHDwGV2G-m9SXsQIGmJNDg-oac55RolgOyq_RpQTIvmjer9hdsqfsHrJaExlmE2gC2twFDqJJslrMQ9eiwgA3Qn0bWNOnZyx0mOTFwZl9OUAe2zWIE25hLuL4Lo4BN304_-SAEcbZHI_PTK9OBjWvds3MPlhOYbito6Nf6_T2tmwQ7l58-KC_npSx-GwWw02DE89pTQ2Hdm8GE-uJNeGqzT9Y3stEsNpsP3p-Rbi_VVaziIV5N6w0kSa6EULsmRWDTzpn8RDIt7jNvCq2U2hFRcHsscFPWFZ2LFR464IDS4sbjkamVlAsrgJcdJGwUI4UxKvUaggaQ60a5rU_xDZ8kjN75KtZKv4pAnF3UvRUOFc0T9YMmdvpDzZc6DqENPNmID5Yiez9WRxXdHyZe-ErUP6pGT0d_3UTKefiMNE-ekyCLkGL5lKJauV8gHgc6Hy5qxzRHf5bKvnXMZmgHllLd80G_T5Maaiea68E449U3ZAeDSvLq07xAcylr7Vw1sZvipa3a3lltByl3Qbl01xsn_4nSpR60msVsbB7yYKOHmLCc0u7icqvKQMMnxljsLg8BEArRk2JGj3esHdayWj_3zXwdSqYu56p8VQKnqGguvoiEerMqIs10G3uwel2ys=w605-h480-no?authuser=0") !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    font-family: Roboto;
    font-size: 23px;
    border: 10px;
    border-style: solid;
    border-radius: 10px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #team-info {
    background: #ffffff69;
    border-radius: 8px 30px;
    margin-top: 10px;
    width: 65%;
    height: 150px;
    vertical-align: top;
  }
  #avatar {
    border-radius: 50px;
    height: 150px !important;
    padding: 10px;
  }
  #team-logo {
    border-radius: 15px;
    width: 80px;
    height: 80px;
    padding: 10px;
    float: left;
  }
  #division-logo {
    border-radius: 30px;
    width: 40px;
    height: 40px;
    padding: 9px;
    margin-right: 10px;
    margin-top: 10px;
    float: right;
    background: #505050b9;
  }
  .inline {
    display: inline-flex;
  }
  #match-info {
    background: #ffffff69;
    border-radius: 8px 30px;
    margin-left: 10px;
    margin-top: -10px;
    width: 570px;
    height: 290px;
    vertical-align: top;
    text-align: center;
  }
  .match-info {
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    line-height: 1em;
    border-color: #505050;
    margin: 3px;
    background: #d8d8d8a2;
    font-size: 22px;
  }
  .scheduled {
    background: #41bb31a2;
  }
  .not-scheduled {
    background: #ff3737a2;
  }
  </style>
</head>
<body {{{background}}}>
  <div>
    <img src={{logoSource}} id="avatar">
    <div id="team-info" class="inline" {{{panel}}}>
        <h style="padding-top: 5px; padding-left: 15px;">
          Team: {{teamName}}<br>
          {{#if score.mmr}}
          MMR: {{score.score}}<br>
          {{else}}
          Score: {{score.score}}<br>
          {{/if}}
          W/L: {{teamWL}}<br>
          Division: {{division}}<br>
          Rank: {{rank}}<br>
        </h>
    </div>
    <div id="match-info" {{{panel}}}>
      <br style="line-height: 0.5em;">
        <h5 style="margin-top: -7px !important; margin: 5px; background: #b1b1b1a9; border-radius: 5px; border: 5px solid #222222a9">Upcoming Matches</h3> 
        {{#each matches}}
        <p class="match-info {{this.scheduledText}}" {{#if this.scheduled}}{{#if this.pastTime}}style="background: #FFA500A0 !important;"{{/if}}{{/if}}>
          <b><i>{{this.teams.awayTeam}}(🌟{{this.match.awayBetCount}}) VS {{this.teams.homeTeam}}(🌟{{this.match.homeBetCount}})</i></b><br style="line-height: 1em;">
          {{#if this.scheduled}}{{this.date}}{{else}}Not Yet Scheduled{{/if}}<br>
          {{#if this.match.castingInfo.caster}}<b>Being casted by {{this.match.castingInfo.caster}}</b>{{else}}Votes for casting: {{#if this.match.castUpvotes}}{{this.match.castUpvotes}}{{else}}0{{/if}}{{/if}}</p>
        {{/each}}
    </div>
  </div>
</body>